html { height: 100%; }

h1,h2,h3 { 
  color: #eeeeee;
  padding: 0px;
  margin: auto;
  font: 30px terminal;
  letter-spacing: 2px;
  text-align: center;
}

body {
  padding: 0px; 
  width: 720px;
  margin: 0px auto;
  background: #050c0f;
}

html, canvas, img {
  image-rendering: optimizeSpeed;
  image-rendering: optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor; 
}

#fps, #info {
  color: orange;
}

